* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #52B531;
    --text-color: #868686;
    --font-family: "Libre Baskerville", serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    font-family: var(--font-family);
}

.nav-link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: var(--text-color);
    transition: color 0.5s ease;
}

.nav-link:hover {
    color: var(--primary-color);

}

.search-bar {
    border-bottom: 1px solid var(--primary-color);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.search-bar input {
    outline: none;
    border: none;
}

.search-bar input::placeholder {
    color: var(--primary-color);
    opacity: 1;
}

.hero-section{
    display: flex;
    place-items: center;
}



.arrow-svg {
    height: 80px;
    width: 80px;
}